In [28]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('autos.csv', encoding='Latin1', index_col=False)

In [30]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [31]:
df = df.drop(['name', 'dateCreated', 'dateCrawled', 'nrOfPictures', 'postalCode', 'lastSeen'], axis=1)

In [32]:
df = df[df['seller'] == 'privat']
df = df.drop(['seller'], axis=1)

In [33]:
df = df[df['offerType'] == 'Angebot']
df = df.drop(['offerType'], axis=1)

In [34]:
df = df.drop(['abtest'], axis=1)

In [35]:
df = df[(df['yearOfRegistration'] >= 1863) & (df['yearOfRegistration'] < 2017)]

In [36]:
df = df[df['price'] > 100]

In [37]:
df = df.dropna()

In [38]:
df = df[(df.powerPS >= 100) & (df.powerPS <=1000)]

In [39]:
df = df[df['monthOfRegistration'] != 0]

In [42]:
def calculate_age(y, m):
    return (2017.0 - y) + (8.0 - m)/12.0

for i, row in df.iterrows():
    df.set_value(i, 'isAutomatic', 0 if row['gearbox'] == 'manuell' else 1)
    df.set_value(i, 'damageRepaired', 0 if row['notRepairedDamage'] == 'ja' else 1)    
    df.set_value(i, 'age', calculate_age(row['yearOfRegistration'], row['monthOfRegistration']))
    if not i%10000:
        print(i)

30000
70000
80000
100000
110000
120000
160000
180000
200000
230000
250000
270000
290000
300000
310000
320000
330000
340000

In [46]:
df = df.drop(['gearbox', 'notRepairedDamage', 'yearOfRegistration', 'monthOfRegistration'], axis=1)

In [47]:
df.describe()

,price,powerPS,kilometer,isAutomatic,damageRepaired,age
count,1.659850e+05,165985.000000,165985.000000,165985.000000,165985.000000,165985.000000
mean,1.107818e+04,156.735271,125204.958279,0.309570,0.915269,12.757283
std,4.284726e+05,58.043517,39444.120971,0.462318,0.278481,5.994401
min,1.000000e+00,100.000000,5000.000000,0.000000,0.000000,0.666667
25%,2.650000e+03,116.000000,100000.000000,0.000000,1.000000,8.500000
50%,5.990000e+03,140.000000,150000.000000,0.000000,1.000000,12.166667
75%,1.190000e+04,177.000000,150000.000000,1.000000,1.000000,16.416667
max,1.000000e+08,1000.000000,150000.000000,1.000000,1.000000,86.166667

In [48]:
df.to_csv('cleaned_data.csv')

In [49]:
df.head()

,price,vehicleType,powerPS,model,kilometer,fuelType,brand,isAutomatic,damageRepaired,age
5,650,limousine,102,3er,150000,benzin,bmw,0.0,0.0,21.833333
6,2200,cabrio,109,2_reihe,150000,benzin,peugeot,0.0,1.0,13.000000
10,2000,limousine,105,3_reihe,150000,benzin,mazda,0.0,1.0,12.666667
11,2799,kombi,140,passat,150000,diesel,volkswagen,0.0,0.0,11.666667
14,17999,suv,190,navara,70000,diesel,nissan,0.0,1.0,6.416667